.flex{
    display: flex;
}
.col{
    flex-direction: column;
}
.justifyCenter{
    justify-content: center;
}
.justifyBetween{
    justify-content: space-between;
}
.alignItems{
    align-items: center;
}
.textCenter{
    text-align: center;
}
.textRight{
    text-align: right;
}
.textLeft{
    text-align: left;
}
.border{
    border: solid 1px grey;
}
.round{
    border-radius: 1em;
}
.shadowsFont{
    font-family: 'Shadows Into Light', cursive;
}
.kalamFont{
    font-family: 'Kalam', cursive;
}

.largeFont{
    font-size: 3em;
}
.smallFont{
    font-size: 0.5em;
}
.white{
    color:white;
}